<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx">

	<import resource="db-config.xml" />

	<!-- Hibernate property setup -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">    <!-- RoseGarden Bean -->
		<property name="dataSource" ref="ds" />

		<property name="hibernateProperties">
			<value>
				hibernate.dialect=org.hibernate.dialect.Oracle10gDialect
				hibernate.hbm2ddl.auto=update
				hibernate.show_sql=true
			</value>
		</property>

		<property name="annotatedClasses">
			<list>
				<value>lti.insurance.bean.UserBean</value>

				<value>lti.insurance.bean.CustomerBean</value>

				<value>lti.insurance.bean.VehicleBean</value>
				<value>lti.insurance.bean.TicketBean</value>
				<value>lti.insurance.bean.ExistingCustomerBean</value>
				<value>lti.insurance.bean.StaffBean</value>
				<value>lti.insurance.bean.InvoiceBean</value>
			</list>

		</property>
	</bean>

	<!-- Transactional settings required for the Hibernate example to work. -->
	<bean id="txManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<tx:annotation-driven
		transaction-manager="txManager" /><!-- enabling transaction based transaction 
		management -->


</beans>
